
.glass-card {
    background: rgba(255, 255, 255, 0.05) !important; 
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-radius: 15px;
    overflow: hidden; 
}


.glass-card .card-body, 
.glass-card .list-group-item {
    background-color: transparent !important;
    border-color: rgba(255, 255, 255, 0.1); 
}


.glass-card:hover {
    background: rgba(255, 255, 255, 0.08) !important;
    transition: 0.3s ease;
}